--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchtune
torchdata
torchvision
einops
kornia

# stable-ssl
git+https://github.com/rbalestr-lab/stable-ssl.git

boto3
dotenv
toolz
diffusers

# pytorch-lightning
lightning
opencv-python
wandb
wandb[media]

matplotlib
seaborn
